*{
    margin:0px;
    padding:0px;
}
.hidden{
    
    opacity: 0;
}
div{
    width:970px;
    height:430px;
    font-family: sans-serif;
    margin:20px;
}
img{
    
    display: inline-block;
    vertical-align:top ;
    outline-style:solid;
    outline-color: darkblue;
    padding:10px;
    margin:10px;

}
button{
    display:inline-block;
    vertical-align:left;
    margin-left:420px;
    width:75px;
    height:25px;
    background-color: red;
    color:white;
    border-color: darkblue;

}r-color: darkblue;

}